{% extends 'base.html' %}
{% block title %} Добавить шаурмечную {% endblock %}
{% block rest_active %} selected {% endblock %}
{% block content %}

<h1>Добавить шаурмечную</h1>
<form action="" method="POST" class="addform" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form_error">{{f.non_field_errors}}</div>
    {% for f in form %}
    <p><label class="form_label" for="{{ f.id_for_label }}">{{ f.label }}</label> {{f}} </p>
    <div class="form_error" >{{ f.errors }}</div>
    {% endfor %}
    <p class="button_p"><button type="submit">Отправить</button> </p>
</form>

{% endblock %}