{% extends 'base.html' %}
{% block rest_active %} selected {% endblock %}
{% block content %}
<h1>{{title}}</h1>
<div class="containers">
    {% for store in stores %}
    <div class="container">
        <h2>{{store.name}}</h2>
        <p><b>Адрес: </b>{{store.address}}</p>
        <p><b>Оценка: </b>{{store.stars_display}}</p>
        <p><a href="{{store.get_absolute_url}}">Ассортимент</a></p>
    </div>
    {% endfor %}
    {% if user.is_authenticated and perms.myapp.add_shavarmastore %}
    <div class="container add_container">
         <a href="{% url 'add_shop' %}"><h1>+</h1></a>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block navigation %}
{% include 'myapp/pagination_navigation.html' %}
{% endblock %}

