{% extends 'base.html' %}
{% block rest_active %} selected {% endblock %}
{% block content %}
<h1>{{title}}</h1>
<div class="about_store">
    <p><b>Адрес: </b>{{store.address}}</p>
    <p><b>Оценка: </b>{{store.stars_display}}</p>
    {% if store.network %}
    <p><b>Сетевая</b></p>
    {% else %}
    <p><b>Не сетевая</b></p>
    {% endif %}
    {% if store.logo %}
    <img src="{{store.logo.url}} ">
    {% endif %}
    {% if user.is_authenticated and perms.myapp.change_shavarmastore %}
    <div class="update_delete">
        <a href="{% url 'update_shop' store.id %}" class="update">Редактировать</a>
        <a href="{% url 'store_delete' store.id %}" class="delete">Удалить</a>
    </div>
    {% endif %}

</div>
<div class="rest_food">
    <h1>Блюда</h1>
    {% include 'myapp/food_containers.html' %}
</div>


{% endblock %}
