{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block other_head %}{% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link type="text/css" href="{% static 'myapp/css/main.css' %}"  rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>Шаурма СПБ</h1>
    </header>
    <main>
        <div class="menu">
            <a href="{% url 'index' %}"><p class="{% block rest_active %}{% endblock %}">Рестораны</p></a>
            <a href="{% url 'food' %}"><p class="{% block food_active %}{% endblock %}">Блюда</p></a>
            <a href="{% url 'contacts' %}"><p class="{% block contact_active %}{% endblock %}">Контакты</p></a>
        </div>
        <div class="mainpage">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>