/* green - темно-зеленый
    #45d645 - салатовый
 */



*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* Элементы выстраиваем в колонку */
}


header{
    padding: 1rem;
    background-color: #E25822;
    color: white;
}

header, footer {
  flex-shrink: 0; /* Шапка и подвал не сжимаются */
}

main{
    flex: 1 0 auto;
    background-color: #f0f0cc;
    display: flex;
}

.menu{
    border-top-style: solid;
    border-top-color: #45d645;
    background-color: #8B4513;
    color: white;
}

.menu p{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 1rem; 
}


.menu a{
    color: white;
    text-decoration: none;
}

.selected, .menu p:hover{
    background-color: #E25822;
}

.mainpage{
    padding: 1rem;
    width: 100%;

}

.container{
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-style: solid;
    min-width: 20rem;
    border-color: #8B4513;
}

.container p{
    margin-top: 0.5rem;
}

.containers{
    display: flex;
    flex-wrap: wrap;
}

.container a{
    text-decoration: none;
    color: green;
}

.container a:hover{
    color: #45d645;
}

.add_container{
    text-align: center;
    align-content: center;
}

.add_container h1{
    height: 100%;
    width: 100%;
    font-size: 4rem;
    align-content: center;
}

.about_store p, h2, h3{
    padding-top: 0.5rem;
}

.about_store img{
    width: 10rem;
}



.rest_food{
    margin-top: 1rem;
    border-style: solid;
    padding: 1rem;

}

.ingredients{
    display: flex;
}

.ingredients div{
    
    border-style: solid;
    margin: 0.5rem;
    border-color: #8B4513;
    display: flex;
}

.ingredients p{
    padding: 0.5rem;
}

.ingredients a{
    text-decoration: none;
    color: black;
}

.ingredient_delete{
    background-color: #e34b4b;   
}

.ingredient_add{
    background-color: green;
}

.ingredient_add a{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}


.addform{
    padding-top:  1rem;
    border-style: solid;
    border-color: #8B4513;
    width: fit-content;
    padding: 2rem;
    margin-top: 1rem;
}

.addform p{
    margin-bottom: 0.6rem;
}

.addform input{
    padding: 0.5rem;
    width: 12rem;
    border-color: #8B4513;
}

.addform button{
    padding: 1rem;
    background-color: green;
    color: white;
    border-style: none;
}

.addform button:hover{
    background-color: #45d645;
    cursor: pointer;
}

.button_p{
    align-content: center;
    text-align: center;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
}

.form_label{
    display: inline-block;
    min-width: 6rem;
}

.ingredients-windget{
    width: 13rem;

    
}

.shawarma_store_input{
    display: inline-block;
    padding: 0.5rem;
    width: 13.3rem;
    border-color: #8B4513;

}